<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=texture.title%> | Free PBR texture from cgbookcase.com</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <% var text= "" %>

        <% for(j = 0; j < texture.files.length -1 ; j++) { text = text + texture.files[j]; if(j != texture.files.length -2) {divider = ", ";} else {divider = " ";} text = text + divider } %>
        <% text = text + "and " + texture.files[texture.files.length -1] %>

        <meta name="description" content="Download the <%= text %> maps of the '<%=texture.title%>' PBR texture. Licensed as CC0.">
        
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-/pOR6TNYPdUaQQQRKQ4XHznZ4U2K/Lscb3u6jshUngC/31fLTuyX9FZb24gp4O3J" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
        <link href="/styles/default.css" rel="stylesheet">
        <link href="/styles/header.css" rel="stylesheet">
        <link href="/styles/textures.css" rel="stylesheet">
        <link href="/styles/font-sizes.css" rel="stylesheet">

        <link rel="canonical" href="https://www.cgbookcase.com/textures/<%=texture.url%>">

        

        <%- include partials/head.ejs %>
        <% var tags = ""; %>
        <% texture.tags.forEach(function(item, index){ tags = tags + item + ","})%>
        <% texture.colors.forEach(function(item, index){ tags = tags + item + ","})%>

        <meta name="cgb:cgbID" content="<%= texture.cgbID%>">

        <!-- START Textures.one integration -->
            <meta name="tex1:name" content="<%=texture.title%>">
            <meta name="tex1:tags" content="<%=tags%>">
            <meta name="tex1:preview-image" content="https://www.cgbookcase.com/textures/<%=texture.category%>/<%=texture.file%>_rend.jpg">
            
            <meta name="tex1:resolution" content="<%=texture.resolution%>">
            <% var oneType = "tex-pbr" %>
            <% if(texture.category == "Cutout Objects"){oneType = "plain" } %>
            <meta name="tex1:type" content="<%= oneType %>">


            <% var releasedate = "2019-05-01" %>

            <% if(texture.cgbID > 381){releasedate = texture.releasedate } %>



            <meta name="tex1:releasedate" content="<%=texture.releasedate%>">

            <% var method = "generic" %>

            <% if(texture.method == "bitmap"){method = "from-bitmap" } %>
            
            <% if(texture.method == "procedural"){method = "substance" } %>

            <meta name="tex1:method" content="<%=method%>">
            
        <!-- END Textures.one integration -->
    </head>
    
    
    <body>
        <%- include partials/header.ejs %>
        <main class="margin w-1400">
          
            
            <div id="view-texture">

                <div id="view-imageContainer">
                    <img alt="Preview render of the PBR texture <%= texture.title %>" src="https://www.cgbookcase.com/textures/<%=texture.category%>/<%=texture.file%>_rend.jpg">
                </div>

                <div id="view-downloadSection">
                    <h1><%=texture.title%></h1>

                    
                    <% if(texture.doublesided != 1) { %>

                        <% if(texture.category == "Surface Imperfections") { %>
                        <div id="view-downloadLinks">
                            <% for(i = texture.resolution; i > 0; i--) { %>
                            <div class="view-downloadResolutionSection">
                            
                                <a aria-label="Download the <%=i%>K version of this surface imperfection" href="/textures/<%=texture.category%>/<%=texture.file%>/<%=texture.file%>_<%=i%>K.png" download style="text-decoration: none">
                                    <div class="view-directDownload"><strong><%=i%>K</strong> Map <span style="float: right; font-size: 1.12em;"><i class="fas fa-download"></i></span></div>
                                </a>
                            </div> 
                            <% } %>  
                        </div>
                        <% } else { %>
                            <div id="view-downloadLinks">
                                <% for(i = texture.resolution; i > 0; i--) { %>
                                    <div class="view-downloadResolutionSection">
                                        <% for(e = 0 ; e < texture.files.length; e++) { %>
                                        <% var file = texture.files[e]%>
                                        <% if( texture.files[e] == "Base_Color" ) { file = "Base Color"} %>
                                        <a aria-label="Download the <%= file %> map for this texture" href="/textures/<%=texture.category%>/<%=texture.file%>/<%=texture.file%>_<%=i%>K_<%=texture.files[e]%>.png" download style="text-decoration: none;">
                                            <div onmouseout="changeRenderTo('https://www.cgbookcase.com/textures/<%=texture.category%>/<%=texture.file%>_rend.jpg')" onmouseover="changeRenderTo('https://www.cgbookcase.com/texturepreviews/<%=texture.file%>_<%= texture.files[e] %>_preview.jpg')" class="view-directDownload"><strong><%=i%>K</strong> <%= file %> <span style="float: right; font-size: 1.12em;"><i class="fas fa-download"></i></span></div>
                                        </a>
                                        <% } %>
        
        
                                        <% if(texture.category == "Cutout Objects") { %>
        
                                            <a aria-label="Download the <%= file %> map for this texture" href="/textures/<%=texture.category%>/<%=texture.file%>/<%=texture.file%>_<%=i%>K.png" download style="text-decoration: none;">
                                                <div class="view-directDownload"><strong><%=i%>K</strong> <%= file %> <span style="float: right; font-size: 1.12em;"><i class="fas fa-download"></i></span></div>
                                            </a>
                                
                                            <% } %>
                                    </div>
                                    <% } %>
                            </div>
                        <% } %>




                    <% } else { %>

                        <h3 style="margin-bottom: 0;" class="text-center">Front</h2>

                        <div id="view-downloadLinks">
                        


                                <% for(i = texture.resolution; i > 0; i--) { %>
                                    <div class="view-downloadResolutionSection">
                                        <% for(e = 0 ; e < texture.files.length; e++) { %>
                                        <% var file = texture.files[e]%>
                                        <% if( texture.files[e] == "Base_Color" ) { file = "Base Color"} %>
                                        <a aria-label="Download the <%= file %> map for this texture" href="/textures/<%=texture.category%>/<%=texture.file%>/<%=texture.file%>_<%=i%>K_front_<%=texture.files[e]%>.png" download style="text-decoration: none;">
                                            <div class="view-directDownload"><strong><%=i%>K</strong> <%= file %> <span style="float: right; font-size: 1.12em;"><i class="fas fa-download"></i></span></div>
                                        </a>
                                        <% } %>
                                    </div>
                                    <% } %>
    
                        </div>


                        <h3 style="margin-bottom: 0;" class="text-center">Back</h2>

                        <div id="view-downloadLinks">
                        


                                <% for(i = texture.resolution; i > 0; i--) { %>
                                    <div class="view-downloadResolutionSection">
                                        <% for(e = 0 ; e < texture.files.length; e++) { %>
                                        <% var file = texture.files[e]%>
                                        <% if( texture.files[e] == "Base_Color" ) { file = "Base Color"} %>
                                        <a aria-label="Download the <%= file %> map for this texture" href="/textures/<%=texture.category%>/<%=texture.file%>/<%=texture.file%>_<%=i%>K_back_<%=texture.files[e]%>.png" download style="text-decoration: none;">
                                            <div class="view-directDownload"><strong><%=i%>K</strong> <%= file %> <span style="float: right; font-size: 1.12em;"><i class="fas fa-download"></i></span></div>
                                        </a>
                                        <% } %>
                                    </div>
                                    <% } %>
    
                        </div>


                    <% } %>

                    
                    <p class="text-center margin">You can get Access to a Google Drive Folder containing all textures on this site by becoming a patron:</p>
                    <div class="space"></div>
                    <a aria-label="Become a patron" target="_blank" href="https://www.patreon.com/cgbookcase" aria-label="Become a patron"><div class="patreonButton"></div></a>
                </div>

            </div>


            <% if(texture.category != "Leaves & Plants" && texture.category != "Cutout Objects" && texture.category != "Surface Imperfections" && texture.category != "Patterns" && texture.files[1] != "Base_Color_A") { %>

            <div data-backgroundimage="https:/www.cgbookcase.com/texturepreviews/<%=texture.file%>_Base_Color_preview.jpg)" id="view-map" style="background-size: 32%; background-image: url(https://www.cgbookcase.com/texturepreviews/<%=texture.file%>_Base_Color_preview.jpg)">
                <button onclick="zoomIn();" id="map-plus" aria-label="Zoom in" class="view-mapZoom" style="top: 0;"><i class="far fa-plus"></i></button>
                <button onclick="zoomOut();" id="map-minus" aria-label="Zoom out" class="view-mapZoom" style="top: 40px;"><i class="far fa-minus"></i></button>
                <span id="view-mapNote">This tiling preview uses a low-res version of the texture.</span>
            </div>

            <% } else if(texture.category == "Surface Imperfections") {%>
                <div data-backgroundimage="https:/www.cgbookcase.com/texturepreviews/<%=texture.file%>_preview.jpg)" id="view-map" style="background-size: 32%; background-image: url(https://www.cgbookcase.com/texturepreviews/<%=texture.file%>_preview.jpg)">
                    <button onclick="zoomIn();" id="map-plus" aria-label="Zoom in" class="view-mapZoom" style="top: 0;"><i class="far fa-plus"></i></button>
                    <button onclick="zoomOut();" id="map-minus" aria-label="Zoom out" class="view-mapZoom" style="top: 40px;"><i class="far fa-minus"></i></button>
                    <span id="view-mapNote">This tiling preview uses a low-res version of the texture.</span>
                </div>


            <% } else if(texture.category == "Patterns") {%>
                <div data-backgroundimage="https:/www.cgbookcase.com/texturepreviews/<%=texture.file%>_Var_A_preview.jpg)" id="view-map" style="background-size: 32%; background-image: url(https://www.cgbookcase.com/texturepreviews/<%=texture.file%>_Var_A_preview.jpg)">
                    <button onclick="zoomIn();" id="map-plus" aria-label="Zoom in" class="view-mapZoom" style="top: 0;"><i class="far fa-plus"></i></button>
                    <button onclick="zoomOut();" id="map-minus" aria-label="Zoom out" class="view-mapZoom" style="top: 40px;"><i class="far fa-minus"></i></button>
                    <span id="view-mapNote">This tiling preview uses a low-res version of the texture. PAAA</span>
                </div>

            <% } else if(texture.files[1] == "Base_Color_A") {%>
                <div data-backgroundimage="https:/www.cgbookcase.com/texturepreviews/<%=texture.file%>_Base_Color_A_preview.jpg)" id="view-map" style="background-size: 32%; background-image: url(https://www.cgbookcase.com/texturepreviews/<%=texture.file%>_Base_Color_A_preview.jpg)">
                    <button onclick="zoomIn();" id="map-plus" aria-label="Zoom in" class="view-mapZoom" style="top: 0;"><i class="far fa-plus"></i></button>
                    <button onclick="zoomOut();" id="map-minus" aria-label="Zoom out" class="view-mapZoom" style="top: 40px;"><i class="far fa-minus"></i></button>
                    <span id="view-mapNote">This tiling preview uses a low-res version of the texture. PAAA</span>
                </div>
        
            <% } %>


            <% if(texture.title == "Moss 01") {%>

                <div data-backgroundimage="https:/www.cgbookcase.com/texturepreviews/<%=texture.file%>_Base_Color_preview.jpg)" id="view-map" style="background-size: 32%; background-image: url(https://www.cgbookcase.com/texturepreviews/<%=texture.file%>_Base_Color_preview.jpg)">
                    <button onclick="zoomIn();" id="map-plus" aria-label="Zoom in" class="view-mapZoom" style="top: 0;"><i class="far fa-plus"></i></button>
                    <button onclick="zoomOut();" id="map-minus" aria-label="Zoom out" class="view-mapZoom" style="top: 40px;"><i class="far fa-minus"></i></button>
                    <span id="view-mapNote">This tiling preview uses a low-res version of the texture.</span>
                </div>
    
            <% } %>


            <div class="space"></div>

            <h2 style="font-size: 1.4em;" class="text-center desktop-only">Learn how to use PBR Textures</h2>

            <div id="view-software" class="desktop-only">
                <a aria-label="Learn how to use this texture in Blender" href="/textures/how-to-use-pbr-textures-in-blender?texture=<%=texture.url%>"><img alt="" src="/media/brand/software/blender_logo.svg"></a>
                <!-- <a aria-label="Learn how to use this texture in Unreal Engine 4" href="/textures/how-to-use-pbr-textures-in-unreal-engine?texture=<%=texture.url%>"><img alt="" src="/media/brand/software/unreal_logo.png"></a>
                <a aria-label="Learn how to use this texture in Godot" href="/textures/how-to-use-pbr-textures-in-godot?texture=<%=texture.url%>"><img alt="" src="/media/brand/software/godot_logo.svg"></a> -->
            </div>

            <h2 style="font-size: 1.4em;" class="text-center desktop-only">Blender Add-on</h2>
            <div style="max-width: 1460px;margin: 17px auto 12px auto;display: flex;background:white;" class="desktop-only">
            
                <a href="https://blendermarket.com/products/extreme-pbr-addon-for-blender-279-2?ref=92" target="_blank"
                    style="width: 50%;">
                    <img style="width: 100%;border-top-left-radius: 4px;border-bottom-left-radius: 4px;height: 100%;"
                        src="/media/affiliate/evo.jpg">
            
                </a>
                <div style="width: 50%;padding: 23px 32px;">
                    <h4 style="margin-top: 12px;">Extreme PBR Evo - 1100+ PBR Materials for Blender</h4>
                    <p>Using and managing PBR materials in Blender can be a bit of a headache, so you might enjoy using the Extreme PBR
                        Evo add-on! It comes with more than 1100 PBR materials (some of which are from this site).
                    </p>
                    <p><a href="https://blendermarket.com/products/extreme-pbr-addon-for-blender-279-2?ref=92" target="_blank">Use the code 'cgbookcase' at checkout for 20% off.</a> <span style="color: lightgray">[affiliate link]</span></p>
                
                </div>
            
            </div>
            
            
        </main>

        <script>
            var map = document.getElementById("view-map");
            var tilingImg = 'https:/www.cgbookcase.com//texturepreviews/<%=texture.file%>_Base_Color_preview.jpg';
            var tilingString = "url(" + tilingImg + ")";

            function zoomIn(){
                document.getElementById("map-minus").style.opacity = "1";

                if (parseInt(map.style.backgroundSize, 10) < 256) {
                    let a = map.style.backgroundSize;
                    let b = parseInt(a, 10);
                    let c = 2*b;
                    map.style.backgroundSize = c + "%";
                }
                if (parseInt(map.style.backgroundSize, 10) >= 256) {
                    document.getElementById("map-plus").style.opacity = "0.5";
                }
            }

            function zoomOut(){
                document.getElementById("map-plus").style.opacity = "1";
      
                if (parseInt(map.style.backgroundSize, 10) > 4) {
                    let a = map.style.backgroundSize;
                    let b = parseInt(a, 10);
                    let c = 0.5*b;
                    map.style.backgroundSize = c + "%";
                }
                if (parseInt(map.style.backgroundSize, 10) <= 4) {
                    document.getElementById("map-minus").style.opacity = "0.5";
                }
            }


            var renderImg = document.getElementById("view-imageContainer").getElementsByTagName('img')[0];

            
            function changeRenderTo(source) {
                renderImg.src = source;
                
            }

           
            // Log texture info

            function TextureInfo() {
                this.cgbID = <%= texture.cgbID %>;
                this.tags = "<%= texture.tags %>";
                this.releaseDate = "<%= releasedate %>";
            }

            console.table(new TextureInfo());



        </script>

        
<%- include partials/footer.ejs %>
