<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Melon 01 | Free PBR texture from cgbookcase.com</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        

        <meta name="description" content=xxxxxxxxxxxxxxxx.">
        
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-/pOR6TNYPdUaQQQRKQ4XHznZ4U2K/Lscb3u6jshUngC/31fLTuyX9FZb24gp4O3J" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
        <link href="/styles/default.css" rel="stylesheet">
        <link href="/styles/header.css" rel="stylesheet">
        <link href="/styles/textures.css" rel="stylesheet">
        <link href="/styles/scans.css" rel="stylesheet">
        <link href="/styles/font-sizes.css" rel="stylesheet">

        <link href="/styles/colors.css" rel="stylesheet">


        

        <%- include("../partials/head.ejs") %>



    </head>
    
    
    <body>
        <%- include("../partials/header.ejs") %>
        <main class="margin w-1400">
          
            
            <div id="view-texture">

                <div id="view-imageContainer">
                    <img class="rounded box-shadow-5-l" alt="" src="https://i.imgur.com/QCBYThe.jpg">
                    
                
                </div>

                <div id="view-downloadSection">
                    <h1>Melon 01</h1>

                    <table id="scan-table" style="">
                        <tr>
                            <th>Dimensions</th>
                            <td><%= scan.dimensions.x %>cm x <%= scan.dimensions.y %>cm x <%= scan.dimensions.z %>cm</td>
                        </tr>
                        <tr>
                            <th>File formats</th>
                            <td>blend, OBJ, FBX</td>
                        </tr>
                        <tr>
                            <th>Texture workflows</th>
                            <td>Metallness, Channel-packed</td>
                        </tr>
                        <tr>
                            <th>Max. texture resolution</th>
                            <td><%= scan.textureResolution * 1024 %> x <%= scan.textureResolution * 1024 %></td>
                        </tr>
                        <tr>
                            <th>LODs</th>
                            <td><%= scan.lods.length %></td>
                        </tr>
                    </table>

                    <p class="text-center margin" style="padding-top: 0;">For more information, see the <a href="#details">details section</a>.</p>
                    <div class="space"></div>

                    <div style="margin: 0 auto; width: max-content;">
                        <a target="" style="display: inline-flex;" href="https://gumroad.com/l/lDpIA" class="text-center no-underline button-red button-center box-shadow-5-l">
                        
                            <div style="width: 30px;"><img src="/media/brand/gumroad.svg"></div>
                            <div style="margin: 6px 15px">Buy via Gumroad</div>
                        </a>
 
                    </div>

                   
                    
                    

                    
                    <div class="space"></div>
                </div>

            </div>


            

            <div class="space"></div>

            <h2 id="details" class="text-center">Details</h2>
            <div class="whiteBG border margin w-1400 box-shadow-5-l">
                
                <h3 style="margin-top: 4px;">Additional Renders</h3>
                <div class="nice">
                    <div>
                    <img src="https://i.imgur.com/FTLzu0w.jpg">

                    </div>
                    <div>
                        <img src="https://i.imgur.com/lX6CnaB.jpg">
                    </div>
                </div>

                <div class="nice" style="margin-top: 16px;">
                     <div>
                        <img src="https://i.imgur.com/lX6CnaB.jpg">
                    </div>
                    
                    <div>
                        <img src="https://i.imgur.com/FTLzu0w.jpg">
                    </div>
                   
                </div>
                
                
                <h3>Levels of Detail</h3>

                <p>This scanned model comes with <%= scan.lods.length %> levels of detail:</p>

                <% function makeReadable(num) { if(num < 1000) { return num.toString()} else { return Math.round(num / 1000).toString() + "K" }  } %> 

                            
               
                <div id="lod-grid">

                <% for( let i = scan.lods.length - 1; i >= 0; i-- ) { %>
                    <img src="https://cdn.cgbookcase.cloud/file/cgbookcase/test/Nectarine01/Nectarine_01_<%= makeReadable(scan.lods[i])%>.jpg">
                
                <% } %>

              
                </div>


                
                <h3>PBR Maps</h3>

                <% var allResolutions = [1, 2, 3, 4]%>
                <% if (scan.textureResolution == 8) {
                    allResolutions.push(6, 8)
                }
                %>

                <p>For instructions on how to use these maps, check out the <a href="/scanned-3d-models/tutorials">tutorials section</a>. All textures of this model are available in the following resolutions:
                </p>
               <ul>
                    <% for( let i = allResolutions.length - 1; i >= 0; i-- ) { %>
                
                        <li>
                            <%= allResolutions[i] * 1024 %> x <%= allResolutions[i] * 1024 %>

                        </li>

                    <% } %>
               </ul>
               

                <h4>Standard</h4>

                <div class="maps-grid">
                    <% maps.Standard.forEach(map => { %>
                        <div>
                            <img src="https://cdn.cgbookcase.cloud/file/cgbookcase/textures/downloads/Pumpkin_seeds_01/Pumpkin_seeds_01_1K_Height.png">
                            <p><%= map %></p>
                        </div>
                    <% }) %>
                </div>
                
                <h4>Optimized (Channel-packed)</h4>
                <div class="maps-grid">
                    <% maps.ChannelPacked.forEach(map => { %>
                        <div>
                            <img src="https://cdn.cgbookcase.cloud/file/cgbookcase/textures/downloads/Pumpkin_seeds_01/Pumpkin_seeds_01_1K_Height.png">
                            <p><%= map %></p>
                        </div>
                    <% }) %>
                </div>
                

                <h3>Files</h3>
                <p>Overview of all the files you will get when buying. Click on folders to expand.</p>

                <% let lodNums = [] %>
                <% for( let i = 0; i < scan.lods.length; i++ ) { %>

                    <% let num = scan.lods[i] %>
                    <% if (num > 999) { %>
                    <% num = Math.round(num / 1000) + "K" %>
                        
                    <% } %>

                    <% lodNums.push(num) %>
                
                <% } %>


                <div id="scan-files" class="box-shadow-5-li" style="">
                        <div onclick="openClose(this, 'folder-models')" class="folder"><i class="fas fa-caret-down expand-arrow"></i> <i class="fas fa-folder"></i> Models</div>

                        <span class="expansion s-blue" id="folder-models">
                            
                            <div id="f-fbx" onclick="openClose(this, 'folder-fbx')"  class="t-1 f-blue folder"><i class="fas fa-caret-down expand-arrow closed"></i> <i class="fas fa-folder"></i> FBX</div>
                            
                            <span class="expansion files-hidden" id="folder-fbx">
                                <% lodNums.forEach(element => { %>
                                    <div class="t-2"><i class="far fa-cube"></i> Melon01_<%= element %>.fbx</div>
                                <% }) %>
                   
                            </span>


                            
                        

                            <div onclick="openClose(this, 'folder-obj')" class="t-1 folder"><i class="fas fa-caret-down expand-arrow closed"></i> <i class="fas fa-folder"></i> OBJ</div>
                            <span class="expansion files-hidden" id="folder-obj">
                                <% lodNums.forEach(element => { %>
                                    <div class="t-2"><i class="far fa-cube"></i> Melon01_<%= element %>.obj</div>
                                <% }) %>
                            </span>

                            <div id="f-blender" onclick="openClose(this, 'folder-blender')" class="t-1 f-blue folder"><i class="fas fa-caret-down expand-arrow closed"></i> <i class="fas fa-folder"></i> Blender</div>
                            <span class="expansion files-hidden" id="folder-blender">
                                <div class="t-2"><i class="far fa-cube"></i> Melon01.blend <span class="files-comment">This file contains all the levels of detail</span></div>
                            </span>

                            
                        
                        </span>
                        
                        
                       

                        <!-- TEXTURES  -->
                        <div id="f-textures" class="f-blue folder" onclick="openClose(this, 'folder-textures')"><i class="fas fa-caret-down expand-arrow"></i> <i class="fas fa-folder"></i> Textures</div>

                        <span class="expansion" id="folder-textures">

                        
                            <!-- STANDARD -->
                            <div onclick="openClose(this, 'folder-metalness')" class="t-1 folder"><i class="fas fa-caret-down closed expand-arrow"></i> <i class="fas fa-folder"></i> Standard </div>

                            <span class="expansion files-hidden" id="folder-metalness">
                                <% for( let i = 0; i < allResolutions.length; i++ ) { %>
                                    <% for( let j = 0; j < maps.Standard.length; j++ ) { %>
                                        <div class="t-2"><i class="far fa-image"></i> Melon01_<%= allResolutions[i] %>K_<%= maps.Standard[j] %>.png</div>
                                    
                                    <% } %>
                                <% } %>
                                
                            </span>


                        
                        
                            <!-- GAME OPTIMIZED -->
                            <div id="f-game" onclick="openClose(this, 'folder-game')" class="t-1 f-blue folder"><i class="fas fa-caret-down closed expand-arrow"></i> <i class="fas fa-folder"></i> ChannelPacked</div>
                            <span class="expansion files-hidden" id="folder-game">
                                <% for( let i = 0; i < allResolutions.length; i++  ) { %>
                                    <% for( let j = 0; j < maps.ChannelPacked.length; j++ ) { %>
                                        <div class="t-2"><i class="far fa-image"></i> Melon01_<%= allResolutions[i] %>K_<%= maps.ChannelPacked[j] %>.png</div>
                                    
                                    <% } %>
                                <% } %>
                                
                            </span>
                       
                        </span>


                        
                        <div id="t-license"><i class="far fa-file-alt"></i> License.txt</div>
                        <div id="t-guides" class="f-blue"><i class="far fa-file-alt"></i> Guides.txt</div>
                </div>

                <p>If you're not sure which types of textures you should use for your software, take a look at our <a href="/learn/pbr-workflows-which-software-uses-what-kind-of-texture-maps">PBR workflows software list</a>.<br>
                    For any questions, feel free to mail us at <a href="mailto:support@cgbookcase.com">support[at]cgbookcase.com</a>.
                </p>


                <div style="margin: 40px auto 18px auto; width: max-content;">
                    <a target="" style="display: inline-flex;" href="https://gumroad.com/l/lDpIA" class="text-center no-underline button-red button-center box-shadow-5-l">
                    
                        <div style="width: 30px;"><img src="/media/brand/gumroad.svg"></div>
                        <div style="margin: 6px 15px">Buy via Gumroad</div>
                    </a>

                </div>

            </div>


          
            
            
        </main>

        <script>
            function openClose(folder, id) {
                folder.querySelector(".expand-arrow").classList.toggle("closed");
                document.getElementById(id).classList.toggle("files-hidden");
                console.log(document.getElementById(id))
            }

            function handleKey(folder, id) {
                if (x == 13 || x == 32) { 
                    alert ("You pressed the Escape key!");
                }
            }


            let folders = document.querySelectorAll(".folder");
            console.log(folders)
            folders.forEach(folder => {
                folder.setAttribute("tabindex", "0")
                
                folder.addEventListener("keypress", () => {
                    let x = event.keyCode;
                    if (x == 13) { 

                        let target = folder.getAttribute("onclick").match(/'([^']+)'/)[1];
                        openClose(folder, target);
                    }
                })
            });
        </script>


       
        
<%- include("../partials/footer.ejs") %>
