<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog | cgbookcase.com</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="The latest from cgbookcase.com.">
        
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-/pOR6TNYPdUaQQQRKQ4XHznZ4U2K/Lscb3u6jshUngC/31fLTuyX9FZb24gp4O3J" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet"> 
        <link href="/styles/default.css" rel="stylesheet">
        <link href="/styles/header.css" rel="stylesheet">
        <link href="/styles/textures.css" rel="stylesheet">
        <link href="/styles/font-sizes.css" rel="stylesheet">
        <link rel="canonical" href="https://www.cgbookcase.com/blog">

        <link href="/styles/colors.css" rel="stylesheet">
        
        <%- include("../partials/head.ejs") %>
    </head>
    
    
    <body>
        <%- include("../partials/header.ejs") %>
        <main class=" w-1400 margin">
            <div class="">
                <h1>Blog</h1>
                
            </div>


                
            <% posts.forEach(element => { %>
                
                <article class="whiteBG border flex" style="margin-bottom: 20px;">
                    <a href="/blog/<%= element.slug %>" class="w50p"><img class="w100p h100p border-left" src="/blog/<%= element.folder %>/thumbnail.jpg"></a>
                    <div class="w50p margin">
                            <a href="/blog/<%= element.slug %>" class="headerLink" style="text-decoration: none; color: black"><h2 class="margin-top-0"><%= element.title %></h2></a>
                        <p><%= element.excerpt %> </p>
                        <a href="/blog/<%= element.slug %>" class="text-center no-underline button-red">Read more</a>
                    </div>
                    
                </article>

            <% }) %>

           

            <div class="space"></div>

            
            
            
        </main>
        <%- include("../partials/footer.ejs") %>
