

<% let releasedTextures = [] %> 
<% var nicee = textures.find(x => x.cgbID === 348); %> 

<script>

console.log("<%= releasedTextures[0] %>");

</script>

<h2 class="readable-text">Overview</h2>
<p class="readable-text">A quick overview of this months PBR textures:</p>



<%- include("release/textureList.ejs", {listOfTextures: [486,485,484,483,482,481,480], textures:textures, title: "Black Tiles 01 - 07"}); %>

<%- include("release/textureList.ejs", {listOfTextures: [479,478,477,476], textures:textures, title: "Brushed Metal Tiles 01 - 04"}); %>


<%- include("release/textureList.ejs", {listOfTextures: [474, 473, 472, 471, 470, 469, 468], textures:textures, title: "Dark Ocean 01 - 07"}); %>


<%- include("release/textureList.ejs", {listOfTextures: [467, 466, 465, 464, 463, 462, 461, 460], textures:textures, title: "White Tiles 01 - 08"}); %>


<div class="space"></div>


<a target="_blank" href="https://www.patreon.com/cgbookcase" aria-label="Become a patron">
    <div class="patreonButton"></div>
</a>
<div class="space"></div>
